<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepanshuchaudhary.apps.minivtop">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--    android:usesCleartextTraffic="true" required to allow WebView http traffic -->
    <!--    android:extractNativeLibs="true" refer https://docs.sentry.io/platforms/flutter/upload-debug/#uploading-for-android-ndk or use android:networkSecurityConfig="@xml/network_security_config" refer https://stackoverflow.com/questions/55951088/google-play-pre-launch-reports-security-vulnerability-which-says-cleartext-traff-->

   <application
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="Mini VTOP"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
